<!DOCTYPE html>
<html lang="en">

<head>

    <title>Beer Recommender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/favicon.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="../static/landing_page/css/style.css">

</head>

<body>

    <div class = "container-fluid">
        <div class="hero-image">
            <img class = "responsive" src = "../static/logo.png">
            <div class = "subheading text-center">Welcome to BeerNext</div>
            <div class = "subheading-1 text-center">A beer recommender powered by Machine Learning</div>
            <div class = "hero-text">
                <a class = "btn js-scroll-trigger" href = "#about">About</a>
            </div>
        </div>
    </div>


    <div class = "container" id = "about">
        <div class = "text-center">
            <h2 class = "section-heading">What is BeerNext?</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
                ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.
            </p>        
        </div>

        <div class = "flex-container" id = "features">
            <div class = "row text-center">
                <h2 class = "subsection-heading">The Features of Beer</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>

                <div class = "col-md-6 text-center">
                    <img src = "../static/taste.png" class = "img-responsive" style = "max-width:100%">  
                    <p class = "text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>         
                </div>
                    
                <div class = "col-md-6 text-center">
                    <img src = "../static/palate.png" class = "img-responsive" style = "max-width:100%">                    
                    <p class = "text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>    
                </div>

                <div class = "col-md-6 text-center">
                    <img src = "../static/aroma.png" class = "img-responsive" style = "max-width:100%">  
                    <p class = "text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>         
                </div>

                <div class = "col-md-6 text-center">
                    <img src = "../static/look.png" class = "img-responsive" style = "max-width:100%"> 
                    <p class = "text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>         
                </div>

            </div>
        </div>   
    </div>

    <div class = "container-fluid bg-light" id = "preferences">
        <div class = "flex-container">
            <div class = "row text-center">
                <h2 class = "subsection-heading-1">Choose Your Preferences</h2>
                <h3 class = "subsection-heading-2">Feature Words</h3>
            </div>

            <div class = "row">
                <div class = "col-md-6">
                    <form id = "form" action = "{{ url_for('predict')}}" method = "POST">
                        <div class="form-group">
                            <label for="taste">What flavours do you enjoy ?</label>
                            <input type="text" class="form-control" id="taste-preference" placeholder="Sweet, Bitter, Citrus, Sour" name="taste-preference">
                        </div>
        
                        <div class="form-group">
                            <label for="palate">What palate sensations are you after ?</label>
                            <input type="text" class="form-control" id="palate-preference" placeholder="Heavy, Light, Raw, Watery" name="palate-preference">
                        </div>
        
                        <div class="form-group">
                            <label for="aroma">What aromas do you like ?</label>
                            <input type="text" class="form-control" id="aroma-preference" placeholder="Fruity, Herbal, Floral, Smokey" name="aroma-preference">
                        </div>
        
                        <div class="form-group">
                            <label for="look">What colors do you prefer in a beer ?</label>
                            <input type="text" class="form-control" id="look-preference" placeholder="Pale, Golden, Black, Brown" name="look-preference">
                        </div>
                    </form>
                </div>

                <div class = "col-md-6">
                    <form id = "form" action = "{{ url_for('predict')}}" method = "POST">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </form>

                </div>
            </div>       
        </div>
    </div>

    <!-- <div class = "container-fluid bg-light" id = "sliders">
        <div class = "flex-container">
            <div class = "row text-center">
                <h2 class = "subsection-heading-1">Choose Your Preferences</h2>
                <hr>
            </div>

            <div class = "slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <p>Value: <span id="demo"></span></p>
                <br>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange1">
                <p>Value: <span id="demo1"></span></p>
                <br>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
                <p>Value: <span id="demo2"></span></p>
                <br>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
                <p>Value: <span id="demo3"></span></p>
            </div>
        </div>


        <div class = "flex-container bg-light">
            <div class = "row text-center">
                <input type = "image" src = "../static/button.png" name = "saveForm" class = "submit" id = "saveForm"/> 
            </div>
        </div>

    </div> -->



    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>

    <!-- D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- our JavaScript -->
    <script type="text/javascript" src="static/landing_page/js/logic.js"></script>

</body>