<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beer recommender</title>


    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="static/landing_page/css/style.css">
</head>

<body>

    <!-- Main Input For Receiving Query to our ML -->
    <form id="form" action="{{ url_for('predict')}}" method="POST"> <!--submit will redirect to /predict as per flask-->
        
        <div class="form-group">
            <label for="somevalue" class="somevalue">somevalue</label>
            <select class="form-control" id="somevalue" name="somevalue">
                <option value="lager">lager</option> <!--'value' can be fed back into flask -->
                <option value="ale">ale</option>
                <option value="poison">poison</option>  
            </select>
            <label for="someotherval" class="someotherval">someotherval</label>
            <select class="form-control" id="someotherval" name="someotherval">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
        </div>

        <button id="filter-btn" type="submit" class="btn btn-default">SUBMIT</button>
    </form>
    <!-- value from prediction will feed back into {{ prediction_text }} -->
    <p>We recommend beer {{ prediction_text }}</p>
    
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>

    <!-- D3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

     <!-- Marker Cluster -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- our JavaScript -->
    <script type="text/javascript" src="../static/output_page/js/app.js"></script>
</body>