
body, html {
  scroll-behavior: smooth;
  height: 100%;

}


.container-fluid {
    height: 100%;
    margin: 0;
} 

.container-fluid {
    height: 100%;
    margin: 0;
} 

/* HERO IMAGE  */

.hero-image {
  background-image: url("https://images.unsplash.com/photo-1529877612930-6e7df7e2b02f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Logo */
.responsive {
    display: block;
    position: relative;
    margin: auto;
}

/* Hero Text Headings */
.subheading {
    line-height: 50px;
    top: 65%;
    margin-bottom: 30px;
    font-family: "Cinzel";
    color:rgb(240, 228, 181);
}

.subheading-1 {
    font-size: 30px;
    line-height: 10px;
    font-family: "Cinzel";
    color:rgb(240, 228, 181);
} 

/* About Button */

#about-button.btn {
    border: none;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dd953f;
    font-family: "Cinzel";
    font-size: 30px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    color:  black;
}

#about-button.btn:hover {background: rgb(240, 228, 181)} 

/* Preferences Button */
a#pref-button {
    margin-left: 172%;
    margin-top: 20%;
}

#pref-button{
    background-color: #dd953f;
    font-family: "Cinzel";
    font-size: 30px;
    align-items: center;
}

#pref-button.btn:hover {
    background: rgb(240, 228, 181);
}

/* ABOUT SECTION */


/* What is BeerNext? */
#about h2.section-heading {
    font-size: 3rem;
    font-family: "Cinzel";
    margin-top: 5%;
}

/* BeerNext Intro Paragraph */
#about, p {
    margin-top: 2%;
    font-size: 25px;
    font-family: "Droid Serif";
}


/* DEALING WITH FLEX CONTAINERS */ 

.flex-container#features {
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 3%;
}

.flex-container#features hr {
    width: 100%;
    margin: 0%;
    align-self: stretch;
}

/* The Features of Beer Heading */
#features h2.subsection-heading {
    font-size: 4.5rem;
    font-family: "Cinzel";
    width: 100%;
}

/* Features of Beer Paragraph */
#features.text-center.subsection-heading, p {
    margin-top: 2%;
    font-size: 25px;
    font-family: "Droid Serif";
}

/* Feature Explanation Paragraphs */
.text-muted {
    margin-top: -20%;
    font-family: "Droid Serif";
}

img {
    margin-top: -15%;
}

/* PREFERENCE SECTION */

.container-fluid.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.container-fluid#preferences {
    margin-top: 5%;
}

.flex-container h2.subsection-heading-1 {
    font-size: 4.5rem;
    font-family: "Cinzel";
    width: 100%;
    margin-top: 3%;
}


.flex-container h3.subsection-heading-2 {
    font-size: 2.5rem;
    font-family: "Cinzel";
    margin-left: 0.5%;
    margin-top: 3%;
}

.row h3.subsection-heading-3 {
    font-size: 2.5rem;
    font-family: "Cinzel";
    margin-top: 3%;
    margin-left: 15%;
}


/* FORM SECTION */
.row {
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 4%;
}

.form-group#taste {
    margin-bottom: 5%;
    width:80%;
}
.form-group#palate {
    margin-bottom: 5%;
    width:80%;
}
.form-group#aroma {
    margin-bottom: 5%;
    width:80%;
}
.form-group#look {
    margin-bottom: 5%;
    width:70%;
}
.form-group#country {
    margin-bottom: 5%;
    width:80%;
}






input#myInput {
    width: 100%;
    padding: 20px 40px;
    margin: 10px 0;
    box-sizing: border-box;
    border-color: #f0e4b5;
    border: none;
}

/* 
input[type=text] {
    background-color: #f0e4b5;
    font-size: 20px;
  }

::-webkit-input-placeholder {

    font-size: 18px;
  }
  ::-moz-placeholder {
   
    font-size: 18px;
  }
  :-ms-input-placeholder {
 
    font-size: 18px;
  }
  ::placeholder {

    font-size: 18px;
  } */

input.form-control {
    width: 100%;
    padding: 20px 40px;
    margin: 10px 0;
    box-sizing: border-box;
    border-color: #f0e4b5;
}

label {
      font-family: "Cinzel";
      font-size: 20px;
      font-weight: lighter;
}







/* SLIDER */

.slider {
    -webkit-appearance: none;
    max-width: 70%;
    height: 15px;
    border-radius: 5px;
    background: #f0e4b5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 150px;
    border: 0;
    background-image: url("../../slider.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 150px;
    height: 150px;
    border: 0;
    background: url("../../slider.png");
    cursor: pointer;
}


p.counter {
    text-align: center;
    margin-top: 15px;
    font-family: "Cinzel";
    font-size: 20px;
}

.slider:hover {
    opacity: 1;
}

input[type = "range"] {
    width: 1000px;
    margin: auto;
    display: block;
    margin-top: 5%;
}

input[type = "image"] {
    max-width: 100%;
    height: auto;
    margin-left: 25%;
    display: block;
    position: relative;
    margin: auto;
    border: none;
    outline: none;
    margin-top: 0%;
} 




/* Media Queries */
@media screen and (min-width: 601px) {
    .subheading {
        font-size: 63px;
    }
    .subheading-1 {
        font-size: 30px;
    }
    .btn {
        font-size: 40px;
    }
}





@media screen and (max-width: 900px) {
    .subheading {
        font-size: 40px;
    }
    .subheading-1 {
        font-size: 15px;
    }
    .btn {
        font-size: 30px;
    }

    input[type = "range"] {
        width: 550px;
        margin-top: 15%;
    }
}



/* FORMATTING TAGS */

/* TASTE TAGS */
input[type=text]#taste-preference {
    font-size: 60px;
  }


.form-group#country {
    margin-top: 5%;
}

.form-group#style {
    max-width: 80%;
}



#selStrength {
    width: 80%;
    height: 50px;
    margin-top: 9%;
    border:1px solid #bcbcbc;
}

#selStrength option {
    width: 80%;
    height: 50px;
}

#selStrength option[type = "value"]:hover {background-color: lightblue}



/* select#selStrength {
    position: relative;
    display: inline-block;
    max-width: 50px;
}

#selStrength, option {
    display: block;
  
    right: 15%;
    background-color: lightblue;
    min-width: 160px;
    z-index: 1;
  }

option[type = "value"] {
    font-family: "Cinzel";
} */